@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #10b981;
  --color-dark: #1f2937;
  --color-light: #f9fafb;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-light text-dark font-sans;
}
